<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.619760553436-cvr4rum3g66l7knjji81n76n1rag8i0b</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Connect to your calendar to create, delete, edit, and fetch your events.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
	</array>
</dict>
</plist>
